<% provide(:title, "プロフィール") %>
<div id="fh5co-portfolio">
  <div class="container">
    <div class="row profile">
      <div class="col-md-12">
        <h2 class="title-profile">プロフィール</h2>
        <div class="row">
          <div class="col-md-1">
            <div class="user-picture-box">
              <%= gravatar_for @user %>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="show-user-name"><%= @user.name %></h3>
            <% if @user.cooking_history.present? %>
              <h4> 自炊レベル： <%= @user.cooking_history %></h4>
            <% end %>
            <div class="show-user-introduction">
              <h4><%= @user.introduction %></h4>
            </div>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <% if current_user == @user %>
              <div class="account-edit"><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
            <% end %>
            <% if current_user.admin? || (current_user == @user) %>
              <div class="account-delete"><%= link_to "アカウント削除", user_path(@user), method: :delete,
                                            data: { confirm: "本当に削除しますか？" } %></div>
            <% end %>
            <br>
            <%= render 'follow_form' if logged_in? %>
          </div>
        </div>
      </div>
    </div>

    <% if @user.microposts.present? %>
      <h3>MyCookログ (<%= @user.microposts.count %>)</h3>
      <% @microposts.each do |micropost| %>
        <%= render 'microposts/modal', micropost: micropost %>
      <% end %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>