<div id="micropost-<%= micropost.id %>">
  <div class="row">
    <div class="col-md-5">
      <button type="button" class="btn" data-toggle="modal" data-target="#postModal-<%= micropost.id %>">
        <%= image_tag(micropost.picture.url) %>
      </button>
    </div>
    <div class="col-md-7">
      <h3 class="title"><%= (micropost.title) %></h3>
      <h4 class="cook-content"><%= micropost.content %></h4>
      <%= render "likes/like", micropost: micropost %>
    </div>
  </div>
</div>

<div class="modal" id="postModal-<%= micropost.id %>" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--モーダルヘッダー-->
      <div class="modal-header">
        <h5 class="modal-title">
          <%= gravatar_for micropost.user %>
          <h3 class="title"><%= (micropost.title) %></h3>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--モーダル本文-->
      <div class="modal-body">
        <%= image_tag(micropost.picture.url) %>
        <h4><%= micropost.content %></h4>
        <%= render "likes/like", micropost: micropost %>
        <%= render 'comments/comments', comments: micropost.comments, micropost: micropost %>
        <%= render 'comments/form', comment: @comment, micropost: micropost %>
        <% if current_user?(micropost.user) %>
          <%= link_to "削除する", micropost, method: :delete,
                                  data: {confirm: "本当に削除しますか?"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>