<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram",root_path,id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "通知", notifications_path %>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle notification-circle">未読<%=unchecked_notifications.count %></i>
            <% end %>
          </li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "セッティング", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path,method: :delete %></li>
            </ul>
          </li>
          <div class="nav">
            <%= render "shared/search" %>
          </div>
        
        <% end %>
      </ul>
    </nav>
  </div>
</header>